/* p {
  width: fit-content;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  background-color: lightgray;
  color: white;
  text-transform: uppercase;
}

span {
  background-color: lightgreen;
  padding: 0.25rem;
} */
